* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #46C08B;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform-style: preserve-3d;
  transition: transform .5s;
}


.back-face {
  transform: rotateY(180deg);
}

.back-face,
.front-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card.gone {
  display: hidden;
}